.button-normal {
    -fx-background-color:  #008CBA;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 2;
    -fx-border-width: 0;
    -fx-font-family: Calibri;
    -fx-font-size: 15;
    -fx-pref-width: 105;
    -fx-pref-height: 50;
}

.button-small {
    -fx-background-color:  #008CBA;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 2;
    -fx-border-width: 0;
    -fx-font-family: Calibri;
    -fx-font-size: 15;
    -fx-pref-width: 70;
    -fx-pref-height: 20;
}

.button-medium {
    -fx-background-color:  #008CBA;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 2;
    -fx-border-width: 0;
    -fx-font-family: Calibri;
    -fx-font-size: 15;
    -fx-pref-width: 80;
    -fx-pref-height: 40;
}

.text-field-normal {
    -fx-pref-width: 105;
    -fx-pref-height: 50;
}

.text-field-narrow {
    -fx-pref-width: 105;
    -fx-pref-height: 25;
}

.label-normal {
    -fx-background-color: #58aad6;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 2;
    -fx-border-width: 0;
    -fx-alignment: Center;
    -fx-font-family: Calibri;
    -fx-font-size: 15;
    -fx-pref-width: 105;
    -fx-pref-height: 50;
}

.label-narrow {
    -fx-background-color: #58aad6;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 2;
    -fx-border-width: 0;
    -fx-alignment: Center;
    -fx-font-family: Calibri;
    -fx-font-size: 15;
    -fx-pref-width: 105;
    -fx-pref-height: 25;
}

.main-pane {
    -fx-background-color: #cccccc;
    -fx-border-color: #000000;
}

.options-pane-label {
    -fx-background-color: #bddcfa;
    -fx-font-weight: bold;
}

.options-pane {
    -fx-border-color: #000000;
    -fx-border-insets: 5 5 5 5;
    -fx-border-radius: 4;
    -fx-border-width: 1.5;
}